<dl class="db-list">
<% @dbs.each_with_index do |db, index| %>
  <dt>
    <span class="position"><%= index + 1 %></span>
    <span class="name"><%= link_to db.name, db %></span>
  </dt>
<% end %>
</dl>

<div id="options" class="closed">
  <ul>
    <li><%= link_to "HIJAX", "#", :id => "version-1" %></li>
    <li><%= link_to "More Responsive", "#", :id => "version-2" %></li>
    <li><%= link_to "Background Loading", "#", :id => "version-3" %></li>
    <li><%= link_to "Isolate Bottlenecks", version_4_url %></li>
  </ul>
  <span>Options</span>
</div>