<% form_for @db, :html => { :multipart => true } do |f| %>

<dl class="new-db">
  <dt><%= f.label :name %></dt>
  <dd><%= f. text_field  :name %></dd>

  <dt><%= f.label :occupation %></dt>
  <dd><%= f. text_field  :occupation %></dd>

  <% fields_for "db[avatar]" do |avatar| %>
  <dt><%= avatar.label :image, "Photo" %></dt>
  <dd><%= avatar.file_field :image %></dd>
  <% end %>
</dl>

<p><%= submit_tag "Submit DB" %></p>  
<% end %>

<a href="#" id="ajax-uploads">AJAX!</a>