<% form_for @db, :html => { :multipart => true } do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :occupation %>
  <%= f.text_field :occupation %>
</p>

<p>
  <% fields_for "db[avatar]" do |avatar| %>
  <%= avatar.label :image, "Photo" %>
  <%= avatar.file_field :image %>
  <% end %>
</p>

<p><%= submit_tag "Submit DB" %></p>  
<% end %>